@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Assignment Survey</h1>
    <p><a href="/UserSurveys/Create" class="btn btn-primary btn-lg">Take Survey &raquo;</a></p>
    <p><a href="/UserSurveys/Results" class="btn btn-primary btn-lg">View Survey Results &raquo;</a></p>
</div>
